<div class="flex flex-col items-center justify-center min-h-screen bg-white">
    <h2 class="text-2xl font-bold text-center mb-6 text-black">RECOVER PASSWORD</h2>

    <%# パスワードリセットフォーム %>
    <%= form_with url: password_reset_path, method: :post, local: true, class: "w-96 space-y-6" do |f| %>
        <input type="email" id="email" name="email" 
            class="w-full border border-gray-300 rounded-full p-3 bg-white text-black placeholder-gray-400 focus:ring focus:ring-gray-400"
            required placeholder="登録メールアドレス">

        <%# リセットボタン %>
        <button type="submit" class="w-96 bg-[#D6C8C8] text-white p-3 rounded-full hover:bg-[#CEBEBE]">
            パスワードをリセット
        </button>
    <% end %>

    <%# 戻るリンクをログインページに統一 %>
    <a href="<%= login_path %>" class="text-sm text-gray-500 hover:text-black mt-2 block">
        ログイン画面に戻る
    </a>
</div>
