<p>こんにちは、<%= @user.email %>さん。</p>
<p>以下のリンクからパスワードのリセットが可能です。</p>
<a href="<%= edit_password_reset_url(token: @user.reset_password_token) %>">パスワードをリセットする</a>
<p>このリンクは一定時間後に無効になりますので、お早めに変更してください。</p>
